<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }} - Local Art.com Inc. {% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/corporate.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/headerfooter.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/smk-accordion.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/jquery.fancybox.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"/>
  <!-- <link rel="stylesheet" href="/css/corporate.css" />
  <link rel="stylesheet" href="/css/headerfooter.css" /> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
